nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 15px;
}

#login-buttons{
    float: right;
}

#login-buttons .login-button{
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}

#login-dropdown-list{
    top: 0px;
    left: auto;
    right: 0px;
}

#login-buttons .login-close-text{
    float: right;
}